{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h1>Donations to The NetBSD Foundation in {{ year }}</h1>
	<h2>Monetary donations</h2>
    <br>
<table class="table table-striped">
    {% if donors is not none: %}
    {% for donor in donors %}
  <tr>
    <td>{{donor[0]}}</td>  
    <td>{{donor[2]}}</td>
    <td>
    {% if not donor[1] == none and not donor[1] == "Empty": %}
    <img src="./{{donor[1]}}"></img>
    {% endif %}
  </td>
  </tr>
{% endfor %}
{% else %}
<tr>
    <td>No donors found</td>
</tr>
{% endif %}
</table>


</div>

{% endblock %}
